<footer class="footer footer-2">
    <div class="footer-middle border-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="widget widget-about">
                        <img src="/images/logo-cl.png" class="footer-logo" alt="Footer Logo" width="355" height="45">
                        <p>Aladdin’s cave, we aim to deliver best in styles and trends to all the full-figured women not just across the nation but worldwide</p>
                        
                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-8 col-md-4">
                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                    <a href="tel:+447747108942">+44-7747108942</a> <br>
                                    <a href="tel:+919797797089">+91-9797797089</a>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-4 col-md-8">
                                    <span class="widget-about-title">Payment Method</span>
                                    <figure class="footer-payments">
                                        <img src="/images/payments.png" alt="Payment methods" width="200" height="20">
                                    </figure><!-- End .footer-payments -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Shopping</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/products/trousers">Trousers</a></li>
                            <li><a href="/products/jackets">Jackets</a></li>
                            <li><a href="/products/skirts">Skirts</a></li>
                            <li><a href="/products/leather-bags">Leather Bags</a></li>
                            <li><a href="/products/shawls">Shawls</a></li>
                            <li><a href="/products/fashion-jewellery">Fashion Jewellery</a></li>
                            <li><a href="/products/all-kind-of-handicrafts">All kind of Handicrafts</a></li>
                            <li><a href="/products/dresses">Dresses</a></li>
                            <li><a href="/products/jump-suits">Jump Suits</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Shopping</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/products/kurta">Kurta</a></li>
                            <li><a href="/products/saree-garments">Saree Garments</a></li>
                            <li><a href="/products/bags">Bags</a></li>
                            <li><a href="/products/mexican-dress">Mexican Dress</a></li>
                            <li><a href="/products/hair-band">Hair Band</a></li>
                            <li><a href="/products/rayon-garments">Rayon Garments</a></li>
                            <li><a href="/products/tops">Tops</a></li>
                            <li><a href="/products/bed-covers">Bed Covers</a></li>
                            <li><a href="/products/hemp-garments">Hemp Garments</a></li>
                            <li><a href="/products/lurex-garments">lurex  garments</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Company</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/why-choose-us">Why Choose Us</a></li>
                            <li><a href="/videos">Video</a></li>
                            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/cancellation-policy">Cancellation Policy</a></li>
                            <li><a href="/replacement-and-refund-policy">Replacement and Refund Policy</a></li>
                            <li><a href="/bank-details">Bank Details</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Contact Us</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Aladdin’s cave</a></li>
                            <li><i class="icon-phone"></i><a href="+447747108942"> +44-7747108942</a></li>
                            <li><i class="icon-phone"></i><a href="+919797797089">+91-9797797089</a></li>
                            <li><i class="icon-envelope"></i><a href="#"> exam@exam.com</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2024  Aladdin's cave</p><!-- End .footer-copyright -->
            <div class="social-icons social-icons-color">
                <span class="social-label">Social Media</span>
                <a href="https://www.facebook.com/arjumand.ahmad1?mibextid=ZbWKwL" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="https://www.instagram.com/s.k_noor_sons" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="https://www.pinterest.com/arjumandahmad/?invite_code=7806ed0cf29449dda36822d71ee78caf&sender=833869824663762241" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->