    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="/products/trousers">Trousers</a></li>
                            <li><a href="/products/jackets">Jackets</a></li>
                            <li><a href="/products/skirts">Skirts</a></li>
                            <li><a href="/products/leather-bags">Leather Bags</a></li>
                            <li><a href="/products/shawls">Shawls</a></li>
                            <li><a href="/products/fashion-jewellery">Fashion Jewellery</a></li>
                            <li><a href="/products/all-kind-of-handicrafts">All kind of Handicrafts</a></li>
                            <li><a href="/products/dresses">Dresses</a></li>
                            <li><a href="/products/jump-suits">Jump Suits</a></li>
                            <li><a href="/products/kurta">Kurta</a></li>
                            <li><a href="/products/saree-garments">Saree Garments</a></li>
                            <li><a href="/products/bags">Bags</a></li>
                            <li><a href="/products/mexican-dress">Mexican Dress</a></li>
                            <li><a href="/products/hair-band">Hair Band</a></li>
                            <li><a href="/products/rayon-garments">Rayon Garments</a></li>
                            <li><a href="/products/tops">Tops</a></li>
                            <li><a href="/products/bed-covers">Bed Covers</a></li>
                            <li><a href="/products/hemp-garments">Hemp Garments</a></li>
                            <li><a href="/products/lurex-garments">lurex  garments</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/about" class="sf-with-ul">About Us</a>
                    </li>
                    <li>
                        <a href="/contact" class="sf-with-ul">Contact us</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->