<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aladdin’s cave</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Aladdin’s cave">
    <meta name="author" content="p-themes">
    <link rel="icon" type="favicon" sizes="32x32" href="/images/favicon-Copy.png">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Aladdin’s cave">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/css/plugins/jquery.countdown.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/skins/skin-demo-5.css">
    <link rel="stylesheet" href="/css/demos/demo-5.css">
</head>

<body>
    <div class="page-wrapper">
        <%- include("../partials/navbar") %>

        <%- body %>
        

        <%- include("../partials/footer")  %>
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <%- include("../partials/mob-navbar") %>




    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.hoverIntent.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/superfish.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.plugin.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    
    <script src="/js/main.js"></script>
    <script src="/js/demos/demo-5.js"></script>
</body>

</html>