<% layout('layouts/boilerplate')%>

<main class="main">

    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/images/home/slider1.jpg');">
            <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 mb-lg-0">
                    <h2 class="title">About Us</h2><!-- End .title -->
                    <p class="text-black">
                        From Director Mouth, Any new idea faces its fair share of appreciation and criticism. Our journey at Aladdin’s cave started in the year 1990. Our intention was to redefine the western wear silhouette for Indian full-figured women and make them believe in equality irrespective of their size and body flaws, that’s where the supporting tagline came into existence #madeforcurves.
                        <br> <br>
                        Our idea behind it was to uplift the vibes of plus size women with not just fashionable apparel but with self-love and confidence with which they would carry their style. For us, Aladdin’s cave is an output of a new outlook for India women who wants to replace the archaic spectacles with new fashion lenses so that all plus size women can feel their beauty that we see in them.
                        <br> <br>
                        At Aladdin’s cave, we aim to deliver best in styles and trends to all the full-figured women not just across the nation but worldwide, With a message that fashion is not just confined to size, rather it’s the confidence one possesses.
                    </p>
                </div><!-- End .col-lg-12 -->
                
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->


        <div class="mb-2"></div><!-- End .mb-2 -->
    </div><!-- End .page-content -->
</main><!-- End .main -->