<% layout('layouts/boilerplate')%>

<main class="main">

    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/images/home/slider1.jpg');">
            <h1 class="page-title text-white">Bank Details<span class="text-white"></span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 mb-lg-0">
                    <h2 class="title">Bank Details</h2><!-- End .title -->
                    <p class="text-black">
                        Thanks for shopping at Aladdin’s cave.
                        <br> <br>
                        Aladdin’s cave <br>
                        Account no. 00550201xxxxxx <br>
                        The jammu and Kashmir Bank ltd <br>
                        G. 40 connaught place New Delhi. 110001 <br>
                        India Swift code. Jakainbbcpd <br>
                    </p>
                    
                </div><!-- End .col-lg-12 -->
                
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->


        <div class="mb-2"></div><!-- End .mb-2 -->
    </div><!-- End .page-content -->
</main><!-- End .main -->