<% layout('layouts/boilerplate')%>

<main class="main">

    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/images/home/slider1.jpg');">
            <h1 class="page-title text-white">Cancellation Policy<span class="text-white"></span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 mb-lg-0">
                    <h2 class="title">Cancellation Policy</h2><!-- End .title -->
                    <p class="text-black">
                        Aladdin’s cave has vision to win the heart of each valuable customer. Towards this we follow the given cancellation policy.
                        <br><br>
                        We consider the cancellation request if it is made with same day of placing an order. We will not accept cancellation request if the orders have been communicated to the Processing/Delivery and they have initiated the process of shipping. There is no cancellations for those products that are in offers, or grouped with other products on a discounted price or products that are purchased a week before / during special occasions. These are the limited occasion offers and therefore cancellations are not possible. In case you feel that the product received is not as shown on the site or as per your expectations, you must bring it to the notice with us within 24 hours of receiving the product. If there are complaints regarding products that come with a warranty from manufacturers, please refer the issue with them.
                    </p>
                </div><!-- End .col-lg-12 -->
                
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->


        <div class="mb-2"></div><!-- End .mb-2 -->
    </div><!-- End .page-content -->
</main><!-- End .main -->