<% layout('layouts/boilerplate')%>

<main class="main">

    <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/images/home/slider1.jpg');">
            <h1 class="page-title text-white">Replacement & Refund Policy<span class="text-white"></span></h1>
        </div><!-- End .page-header -->
    </div><!-- End .container -->

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 mb-lg-0">
                    <h2 class="title">Replacement & Refund Policy</h2><!-- End .title -->
                    <p class="text-black">
                        Thanks for shopping at sknoorandsons.com.
                        <br> <br>
                        If you are not entirely satisfied with your purchase, we’re here to help.
                    </p>
                    <h2 class="title">Returns</h2><!-- End .title -->
                    <p class="text-black">
                        You have 30 calendar days to return an item from the date you received it. <br>
                        To be eligible for a return, your item must be unused and in the same condition that you received it. <br>
                        Your item must be in the original packaging. <br>
                        Your item needs to have the receipt or proof of purchase. <br>
                    </p>
                    <h2 class="title">Refunds</h2><!-- End .title -->
                    <p class="text-black">
                        Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item. <br>
                        If your return is approved, we will initiate a refund to your credit card (or original method of payment). <br>
                        You will receive the credit within a certain amount of days, depending on your card issuer’s policies. <br>
                    </p>
                    <h2 class="title">Shipping</h2><!-- End .title -->
                    <p class="text-black">
                        You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are nonrefundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
                    </p>
                    <h2 class="title">Contact Us</h2><!-- End .title -->
                    <p class="text-black">
                        If you have any questions on how to return your item to us, contact us.
                    </p>
                </div><!-- End .col-lg-12 -->
                
            </div><!-- End .row -->

            <div class="mb-5"></div><!-- End .mb-4 -->
        </div><!-- End .container -->


        <div class="mb-2"></div><!-- End .mb-2 -->
    </div><!-- End .page-content -->
</main><!-- End .main -->